Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
compile
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
.deps/
.dirstamp
*~
*.o
*.swp
*.la
*.lo
*.log
*.libs
*.trs
*.dSYM
src/types
src/bs
src/sorting
src/mergesort
src/shellsort
src/pointer
